<!-- base.html (ch07www project) -->
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
    <script src="/static/js/jquery-2.2.4.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <style>
        h1, h2, h3, h4, h5, p, div {
            font-family: 微软雅黑;
        }
    </style>
</head>
<body>
{% include "header.html" %}
{% block content %}{% endblock %}
{% include "footer.html" %}
</body>
</html>
